<div class="wild_selector_margin_top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Titulo</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th>Precio</th>
                                    <th>Ubicación</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each events}}
                                <tr>
                                    <td>{{title}}</td>
                                    <td>{{date}}</td>
                                    <td>{{hour}}</td>
                                    <td>{{price}}</td>
                                    <td>{{location}}</td>
                                    <td>
                                        <a href="/admin/event/edit/{{_id}}" class="btn btn btn-info">
                                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                        </a>
                                        <a href="/admin/event/delete/{{_id}}" class="btn btn-danger">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-4">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title">Agrega un evento</h5>
                        <p class="card-text mb-3"> Asegurate de llenar toda la información de tu evento para que sea
                            almacenado correctamente.
                        </p>
                        <form action="/admin/event" method="POST" enctype="multipart/form-data" id="form-event">

                            <div class="form-group">
                                <input class="form-control" type="text" name="title" placeholder="Título evento">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="datetime-local" name="date">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" name="price" placeholder="Precio del evento">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="location" placeholder="Ubicación">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="locationLink" placeholder="Liga de la ubicación">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="url" name="bookLink" placeholder="Liga de registro">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="url" name="eventLink"
                                    placeholder="Liga de evento">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="pt-5 pt-lg-0 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Contenido</h5>
                        <div id="editorjs" class=""></div>
                        <button class="btn btn-primary" id="save-event-btn" disabled>Guardar evento</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>