<!-- Banner Area -->
<div class="pages_banner pb_5">
    <div class="container">
        <h2>{{title}}</h2>
        <ol class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li><a href="/events">Eventos</a></li>
            <li>
                <a class="active">Detalles del evento</a>
            </li>
        </ol>
    </div>
</div>
<!-- Banner Area -->

<!-- Latest Causes Area -->
<section class="latestc_causes causes_details">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 causes_left_sidebar">
                <!-- Causes Details -->
                <div class="donations_details p-0">
                    <div class="datails_timar">
                        <div class="timer"></div>
                        <a href="{{event.bookLink}}" target="_blank" class="theme_btn book_now">Reserva tu lugar !</a>
                        <ul class="event_date">
                            <li>
                                <i class="fa fa-map-marker"></i> <a target="_blank"
                                    href="{{event.locationLink}}">{{event.location}}</a>
                            </li>
                            <li>
                                <i class="fa fa-clock-o"></i>{{event.dateTimeFormated.hour}}
                            </li>
                            <li class="money">
                                <i class="fa fa-money"></i>${{event.price}}
                            </li>
                            <li>
                                <i class="fa fa-calendar-o"></i>{{event.dateTimeFormated.complete}}
                            </li>
                            <li>
                                <a href="{{event.lookEventLink}}" target="_blank" class="theme_btn">Revisa nuestro
                                    evento</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="details details_2">
                    <h2>{{event.title}}</h2>
                    <div id="editorjs" class=""></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Causes Area -->

<!-- Customers_more Area -->
<section class="customers_more mt-5">
    <div class="container">
        <h3>
            Tu apoyo mantiene la misión de nuestra organización, haz una donación y forma parte de nuestra misión.
        </h3>
        <a href="#" class="theme_btn">Hacer Donación</a>
    </div>
</section>

<!-- End Customers_more Area -->
<script>
    var content = {{{ content }}};
</script>