<!-- Banner Area -->
<div class="pages_banner pb_3">
    <div class="container">
        <h2>Gallery</h2>
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="gallery.html" class="active">Gallery</a></li>
        </ol>
    </div>
</div>
<!-- Banner Area -->

<!-- Grid Gallery Area -->
<section class="grid_gallery_area">
    <div class="container">
        <div class="grid_gallery_inner">
            <ul class="gallery_filter">
                <li class="active" data-filter="*">
                    <a href="#" class="theme_btn">Todas las campañas</a>
                </li>
                {{#each campaignNames}}
                <li data-filter=".{{_id}}">
                    <a href="#" class="theme_btn">{{name}}</a>
                </li>
                {{/each}}
            </ul>
            {{!-- Container gallery --}}
            {{!-- Matrix 3 x 3 max --}}
            <div class="row grid_gallery_item_inner imageGallery1">
                {{!-- <p>{{galleryImages}}</p> --}}
                {{#each galleryImages}}
                <div class="col-lg-4 col-sm-6 {{campaign}}">
                    <div class="grid_gallery_item">
                        <img src="{{imageURL}}" alt="" />
                        {{!-- <img src="images/gallery-1.jpg" alt="" /> --}}
                        <div class="gallery_hover">
                            <div class="zoom_link">
                                <a target="_blank" href="{{imageURL}}"><i class="flaticon-chain"></i></a>
                                <a class="light" href="{{imageURL}}"><i class="flaticon-photo"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <!-- Pagination_area-->
            <div class="row">
                <nav class="pagination_area col-12">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="active" href="#" tabindex="-1">1</a>
                        </li>
                        <li class="page-item"><a href="#">2</a></li>
                        <li class="page-item"><a href="#">3</a></li>
                        <li class="page-item">
                            <a href="#"><i class="fa fa-angle-double-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Grid Gallery Area -->